*{
    align-items: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #0a0a0a;
}

nav{
    width: 1240.75px;
    height: 60.5px;
   padding-bottom: 16px;
    border-bottom: 1px solid #ffc627;
    box-sizing: content-box;
    overflow: hidden;
    display: flex;
}

#boton{
    width: 1000.271px;
    height: 80.5px;
    margin-left: 200.175px;
    display: flex;
    gap: 10px;
    display: flex; /* Usamos flexbox para alinear los botones */
    justify-content: flex-end; /* Alinea los botones al lado derecho */
    
}

button{
    background-color: #0a0a0a;
    color: white;
    border: none;
    border-radius: 4px ;
    height: fit-content;
    width: 140px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0%;
    padding: 10px 20px;
}

#esquina{
    background-color: #ffc627;
    color: rgba(0, 0, 0, 0.7);
    height: fit-content;
    font-size: 14px;
}

img{
  width: 152px;
  height: 45.5px;  
  overflow: hidden;
  margin-left: 30px;
  margin-top: 10px;
}

.banner1 img{
    width: 1200px;
    justify-items: center;
    padding-top: 40px;
}

#bann{
    height: 260px;
}

#bannof{
    height: 500px;
}

#sq{
    width: 30px;
    height: 30px;
}

#new{
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

#icon{
    padding-top: 18px;
}
h1{
    color:#ffc627; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:xx-large;
    padding-left: 10px;
}

#nw{
    text-align:center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    padding-bottom: 34px;
    border-bottom: 2px solid #4a4a4a;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}
a{
    text-decoration: none;
    color: #ffc627;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-left: 29px;
    margin-top: 10px;
}
p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 29px;
}

#i1{
    margin-top: 0;
    width: 340px;
    height: auto;
}
   
#more{
    width: 12em;
    height: 2.5em;
    text-align: center;
    padding: 10px 20px;
    background-color: #cf0a2c;
    cursor: pointer;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130%;
}
#more img {
    width: 15px;                        
    margin-left: 10px;
    margin-bottom: 11px;
}
.other{
    border-bottom: 1.5px solid #ffc627 !important;
}

.finalmenu{
    padding: 30px;
    text-align: center;
}
#final{
    font-weight: 200;
    font-size: 15px;
}
footer{
    background-color: #231f20;
    padding: 20px;
}

.foot{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #4a4a4a;
    padding-bottom: 40px;
}

.pie{
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#redes{
    display: flex;
    overflow: hidden;
    width: 60px;
    margin: 0%;
}
#terms{
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 12px;
}
@media (max-width: 400px) {
    nav{
        height: auto;
        overflow: hidden;
        flex-direction: column;
        margin-left: 30px;
        width: 400px;
        align-items: center;
    }
    #cj{
        margin-left: 30px;
    }
    #boton {
        justify-content: right;
        align-items: center;
        margin-right: 300px;
        flex-direction: column;
        width: 10px;
        height: auto;

    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    #nw {
        grid-template-columns: 1fr;
    }

    .banner1 img {
        width: 400px;
        height: 150px !important;
    }
    #bannof{
        height: 250px !important;
    }

    .finalmenu{
    display: flex;
    flex-direction: column;
    }

    .foot{
        display: flex;
        flex-direction: column;
    }

    footer {
        text-align: center;
    }
    .pie{
        justify-content: center;
    }

    #redes {
        justify-content: center;
        width: auto;
    }

    #redes img {
        width: 30px;
        margin: 5px;
    }
}